
/*Reset styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	/* font-size: 15px; */
	font-size:0.781vw;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Custom scrollbar */

/* width */
::-webkit-scrollbar{
	width: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: #18181b;
    border-radius: 10px;
    border-color: #3c3c3f;
}

/* -------------------- */

body{
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	color: #efeff1;
	background-color:#333436;
}

.container-fluid{
	background:url('../pictures/background.jpg');  
}

/* CHATS */

table.chats thead{
	display: contents;
}

table.chats tbody{ display: inline-block;
}

.chat{
	margin-left: auto;
	margin-right: auto;
}

.chats{
	background-color: #26262b;
	scrollbar-width: thin;
	height: 96vh;
	margin-top: .9em;
	margin-bottom: .9em;
	width: 100%;
	word-break: break-word;
	/* max-width: 100%; */
	border-radius: 2%;
	box-shadow: 0 5px 0px #18181b;
}

table.chats tbody {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	scrollbar-width: thin;
	scrollbar-color: #26262b #26262b;
	height: 85vh;
	/* line-height: 15px; */
	/* font-size: .85em; */
    overflow-y: auto;
	text-indent: 5px;
	/* min-width: 320px; */
    overflow-x: hidden;
	border-top: 2px solid #222225;
}

table.chats tbody.without-btn{
	height: 90vh;
}

table.chats thead {
	text-align: center;
	font-size: 1.5em;
	padding: .5em;
	height: 5vh;
}

.chat-header{
	height:5vh;
}

.chat1 tbody:hover {
	/* scrollbar-width: thin; */
	scrollbar-color: #18181b #26262b;
}

.chat2 tbody:hover {
	/* scrollbar-width: thin; */
	scrollbar-color: #18181b #26262b;
}

.message{
	padding: 5px 5px;
	margin-left: 1px;
	margin-right: 1px;
	/* margin-top: 3.5px; */
	/* margin-bottom: 3.5px; */
}

.message:hover{
	background-color: #3e3e40;
	border-radius: 2px;
}

.emote{
	max-height: 25px;
	position: relative;
	bottom: 4.5px;
	/* cursor: pointer; */
}

/* <-----------------------> */

/* Buttons */

.start{
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 2%;
	width: 92%;
	font-weight: 700;
	
}

.cstm-btn{
	background-color: #9147ff;
	color: #efeff1;
}

.cstm-btn:hover{
	background-color: #772ce8;
	color: #efeff1;
}


.menu_button{
	cursor: pointer;
	position: relative;
	height: 10em;
	max-width: 10em;
	text-align: center;
	padding: .2em;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction:column;
	margin-left: auto;
	color: #efeff1;
	margin-right: auto;
	background: #26262b;
	border-radius: 25%;
	top: 0px;
	box-shadow: 0 5px 0px #18181b;
	transition-duration: 0.3s;
}

.btn_text{
	font-size: 1.8em;
	font-weight: 800;
	line-height: 1;
	top: 0.3em;
	color: #efeff1;
	bottom:0px;
	transition-duration: 0.5s;
	position: relative;
}

.menu_button:hover{
	transition-property: all;
	color: #efeff1;
	top: 2px;
	box-shadow: 0 3px 0px #86867f;
	background-color: #b9b9af;
	text-shadow: 3px #A4A2A2;
}

.menu_button:active{
	transition-property: all;
	color: #efeff1;
	top: 3px;
	box-shadow: none;
	background-color: #b9b9af;
	/* text-shadow: 3px #A4A2A2; */
}

/* .menu_button:hover .btn_text{
	text-shadow: 0 3px 0 #A4A2A2;
	color: #efeff1;
	bottom: 3px;
}

.menu_button:hover .fas{
	text-shadow: 0 3px 0 #A4A2A2;
	color: #efeff1;
	bottom: 3px;
} */

/* <-----------------------------> */

/* Modal windows */

/* .modal-open{
	overflow: hidden;
} */

.modal-content{
	background-color: #18181b;
	height: 100%;
	/* box-shadow: 0 5px 0px #18181b; */
}

.modal-dialog{
	height: 94vh;
	/* box-shadow: 0 5px 0px #18181b; */
}

.credits-text{
	font-size: 1.5em;
	font-weight: 700;
}

.settings-text{
	font-size: 1.5em;
	font-weight: 700;
	/* bottom: .4em;
	position: relative; */
}

.modal .cclose{
	margin-left: auto;
}

.modal-title{
	font-size: 3em;
	font-weight: 700;
}

/* .btn-secondary:hover{
	background-color: #3e3f41;
	border-color: #3e3f41;
}

.btn-secondary{
	background-color: #333436;
	border-color: #333436;
} */

.modal-header .btn-secondary{
	background-color: #18181b;
	border-color: #18181b;
}

.modal-header .btn-secondary:hover{
	background-color: #3e3f41;
	border-color: #3e3f41;
}

.modal-header,
.modal-footer{
	border-color: #18181b;
}

.alert-dark{
	color: #efeff1;
	background-color: #1f1f23;
	border-color: #333436;
}

.modal-body ul{
	text-indent: 1vh;
	line-height: 2.5;
}

/* <-----------------------------------> */

/* Toggle Switch  */

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22.7px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider-toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider-toggle:before {
	position: absolute;
	content: "";
	height: 17.3px;
	width: 17.3px;
	left: 2.7px;
	bottom: 2.7px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider-toggle {
	background-color: #9147ff;
  }
  
  input:focus + .slider-toggle {
	box-shadow: 0 0 1px #9147ff;
  }
  
  input:checked + .slider-toggle:before {
	-webkit-transform: translateX(17.3px);
	-ms-transform: translateX(17.3px);
	transform: translateX(17.3px);
  }
  
  .slider-toggle.round {
	border-radius: 34px;
  }
  
  .slider-toggle.round:before {
	border-radius: 50%;
  }

/* <----------------------> */

/* Slider  */

.slider{
	min-width: 0;
	max-width: 50%;
	position: relative;
    transform: translate(50%)
}
.slider_item{
	min-width: 0;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: inline-flex;
}
.slick-slide{
	max-width: 50%;
}


/* <------------------------------------> */


/* OmegaUselessAdaptive  */

@media (max-width:1140px){
	html,body{
		font-size: 1.316vw;
	}
}

@media (max-width:1040px){
	html,body{
		font-size: 1.442vw;
	}
}

@media (max-width:1040px){
	.slick-slide{
		max-width: 50%;
	}
	.slider{
		transform: translate(0);
		min-width: 0;
		max-width: unset;
	}
}

@media (max-width:940px){
	html,body{
		font-size: 1.596vw;
	}
	.menu_button{
		height: 9em;
		max-width: 9em;
	}

	.btn_text{
		font-size: 1.62em;
	}


}

@media (max-width:840px){
	html,body{
		font-size: 1.786vw;
	}

	.menu_button{
		height: 8.5em;
		max-width: 8.5em;
	}

	.btn_text{
		font-size: 1.5em;
	}

	/* .ch2{
		display: none;
	} */
}

.hide{
	display: none;
}

@media (max-width:740px){
	html,body{
		font-size: 2.027vw;
	}

	.menu_button{
		height: 8em;
		max-width: 8em;
	}

	.btn_text{
		font-size: 1.44em;
	}
	.modal-body ul{
		text-indent: 1vh;
		line-height: 1.8;
	}

}

@media (max-width:640px){
	html,body{
		font-size: 2.344vw
		;
	}
}

@media (max-width:540px){
	html,body{
		font-size: 2.778vw;
	}
}

@media (max-width:440px){
	html,body{
		font-size: 3.409vw;
	}
}

@media (max-width:340px){
	html,body{
		font-size: 4.412vw;
	}
}


/* <---------------------> */

/* 3-d party thing idk  */

.right_content,
.left_content{
	height: 100%;
}

/* <--------------------> */

/* .ch2{
	display: none;
} */

/* Burger */

@media (max-width:576px){

	/* .chat-header{
		height:40px;
	} */

	body.lock{
		overflow: hidden;
	}

	.right,
	.left{
		position: fixed;
		margin-top:calc(.9em + 5vh + 1px);
		margin-bottom: .9em;
		top: 0;
		height: 95%;
		width: 100%;
		/* height: 90%; */
		background-color: #333436d8;
		transform: scaleY(0);
		transform-origin:top;
		transition: ease;
		transition: all 0.3s ease 0s;
	}

	.right{
		right: 0;
		z-index: 1;
		border-radius: 0% 0% 2% 0%;
	}

	.left{
		left: 0;
		z-index: 1;
		border-radius: 0% 0% 0% 2%;
	}

	.right.active{
		transform: scaleY(1);
	}

	.left.active{
		transform: scaleY(1);
	}

	.menu_button{
		z-index: 100;
	}

	.burger{
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: 10px;
		width: 30px;
		height: 17px;
	}
	.burger:before,
	.burger:after{
		content: " ";
		position: absolute;
		background-color: #efeff1;
		width: 100%;
		height: 4px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.burger:before{
		top: 0;
	}
	.burger:after{
		bottom: 0;
	}
	.burger span{
		position: absolute;
		background-color: #efeff1;
		left: 0;
		width: 100%;
		height: 4px;
		top: 6.5px;
		transition: all 0.3s ease 0s;
	}

	.burger.active:before{
		transform: rotate(45deg);
		top: 6.5px;
	}

	.burger.active:after{
		transform: rotate(-45deg);
		bottom: 6.5px;
	}

	.burger.active span{
		transform: scale(0);
	}

	.chat-header-text{
		position: relative;
	}
	.header{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header span{
		margin-left: auto;
	}
}

/* <------------------------> */

